.head{
   background-color: #261824;
   height: 8vh;
}

#logo{
   float:left;
   margin-left: 10px;
   height: 6vh;
   width: 6vh;
}

#title{
   color: white;
   font-size: 6vh;
}

.body{
   /*background-color: #31243D;*/
   background-color: white;
   height: 85vh;
   padding: 10px;
}

#articlesTitle{
   font-size: 50px;
   color: black;
   margin: 5px;
}

.footer{
   height: 7vh;
   background-color: #261824;
   color: white;
}
