.postButtons{
   margin-bottom: 20px;
   border-radius: 10px;
   color: white;
   background-color: #31243D;
   min-height: 175px;
}

#pastPostList{
   margin-top: 15px;
   height: 500px;
   overflow-y: auto;
   overflow-x: hidden;
}
