.head{
   background-color: #261824;
   display: flex;
   justify-content: space-between;
   padding: 0 20px;
   flex-wrap: wrap;
}

#name{
   display:flex;
   justify-content: flex-end;
}

#logo{
   margin-left: 10px;
   height: 6vh;
   width: 6vh;
}

#title{
   color: white;
   font-size: 6vh;
}

.currTab{
   color: white;
   text-align: center;
   font-size: 5vh;
   margin-top: 0.5vh;
}

.nav-item{
   margin: 20px;
}

.btn{
   margin-left: 20px;
   margin-top: 10px;
}
